

<!--+ Header(BreadCrumbs)-->

<div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Please Register To BOOK YOUR MOVE</h1>
                    </div>
                </div>
            </div>
        </div>
<!-- + Registration Form -->
<div class="row">
<!-- + Background Div -->
    <div class="bg_div">
      <!-- + Registration Form Heading -->
  <md-toolbar md-theme="docs-dark" class="md-primary">
    <h1 class="md-toolbar-tools">
      Registration Form
    </h1>
  </md-toolbar><!-- + End Of Registration Form heading -->
<!-- + Sepration Div(Registration Form) -->
   <div class="col-md-8">
  <md-card>
  <md-card-content>
  
<!-- +First Column Of Registration Form -->
   <div class="col-md-4 Registration_box">
  <md-content class="md-padding">
    <form name="projectForm">
      <md-input-container>
        <label>First Name</label>
        <input  required name="fname" ng-model="project.description">
      </md-input-container>
      <md-input-container>
        <label>Email Id</label>
        <input required name="lname" ng-model="project.clientName">
      </md-input-container>
    <md-input-container>
                    <label>Pincode:</label>
                    <input type="text" placeholder="zip-code" ng-model="zipto" Required/>
                </md-input-container>
<md-select placeholder="City" ng-model="someval">
              <md-option value="2" ng-selected="selected">select</md-option>
              <md-option ng-value="city.name" ng-repeat="city in cities">{{city.name}}</md-option>
          </md-select> 
               <br> <br> 
 <md-input-container>
                    <label>Password:</label>
                    <input type="text" placeholder="zip-code" ng-model="zipto" Required/>
                </md-input-container>

  <md-content md-theme="docs-dark" >
    <section layout="row" class="submit_reset_btns">
      <md-button class=" md-raised md-primary">Primary</md-button>
    </section>
</div><!-- +End Of First Column Of Registration Form -->
<!-- +Second Column Of Registration Form -->
        <div class="col-md-4">
            <md-content  class="md-padding" >
                <md-input-container>
        <label>Last Name</label>
        <input required name="clientName" ng-model="project.clientName">
      </md-input-container>

                <md-input-container>
                    <label>Mobile No:</label>
                    <input type="text" placeholder="zip-code" ng-model="zipto" Required/>
                </md-input-container>  
          <md-select placeholder="State" ng-model="someval">
              <md-option value="2" ng-selected="selected">select</md-option>
              <md-option ng-value="state.name" ng-repeat="state in states">{{state.name}}</md-option>
          </md-select>           
          <br> <br>    
                <md-input-container>
                    <label>Username:</label>
                    <input type="text" placeholder="" ng-model="zipto" Required/>
                </md-input-container>

                 <md-input-container>
                    <label>Confirm Password:</label>
                    <input type="text" placeholder="zip-code" ng-model="zipto" Required/>
                </md-input-container>
              
  <md-input-container ng-hide="true">
                    <label>User Type:</label>
                    <input type="text" ng-disabled="" placeholder="" ng-model="user_type" Required/>
                </md-input-container>
                

            <md-content md-theme="docs-dark" >
    <section layout="row">
      
      <md-button class="md-raised md-warn">Warn</md-button>
    </section>

      </md-content>
    </div><!-- +End Of Second Column Of Registration Form -->
    </form>



  </md-content>
</md-card>
  </md-card-content> 
</div><!-- +End Of Sepration Div -->
</div><!-- +End Of Background Div -->
</div><!-- +End Of Main Div(row) -->



