
<div class="row" ng-init="mapService.initialize()">

<div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Theme Features</h1>
                    </div>
                </div>
            </div>
        </div>

<div class="row">

    <div class="bg_div">
        <div class="col-md-5">
            <md-content md-theme="docs-dark" class="md-padding" layout-sm="column" style="font-size:1.0em">
                <md-input-container class="md-docs-dark-theme">
                    <label>from:</label>
                    <input type="text" options="options2" ng-model="mapService.initial_loc" ng-autocomplete="mapService.initial_loc" ng-mouseenter="mapService.calcRoute()" ng-change="mapService.calcRoute()" Required/>
                </md-input-container>
                
                <md-input-container>
                    <label>to:</label>
                    <input type="text" options="options2" ng-model="mapService.end_loc" ng-autocomplete="mapService.end_loc" ng-mouseenter="mapService.calcRoute()" ng-change="mapService.calcRoute()" required/>
                </md-input-container>
                <md-input-container>
                    <label>Date:</label>
                    <input ui-date="dateOptions" ng-model="currentdate" min="currentdate" placeholder='MM/DD/YYY' Required/>
                </md-input-container>
                <b>can a moving truck park outside your house?</b>   
            </md-content>    
        </div>
        <div class="col-md-2">
            <md-content md-theme="docs-dark" class="md-padding" layout-sm="column" style="font-size:1.1em">
                <md-input-container>
                    <label>zipcode:</label>
                    <input placeholder="zip-code" ng-model="zipfrom" md-maxlength="6" minlength="6" Required/>
                </md-input-container>
                <md-input-container>
                    <label>zipcode:</label>
                    <input type="text" placeholder="zip-code" ng-model="zipto" md-maxlength="6" minlength="6" Required/>
                </md-input-container>  
            </md-content>
        </div>
        <div class="col-md-5">
            <div id="map-canvas"></div>
            <b ng-cloak>Total Distance: {{distance}}</b>
            <b ng-cloak>Total Distance: {{mapService.end_loc}}</b>
        </div>
    </div>
</div>